<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldTypes>
      <fieldType name="General Link">
        <patch:attribute name="type">Sitecore.Sbos.Module.LinkTracker.Data.Fields.TrackedLinkField, Sitecore.Sbos.Module.LinkTracker</patch:attribute>
      </fieldType>
      <fieldType name="General Link with Search">
        <patch:attribute name="type">Sitecore.Sbos.Module.LinkTracker.Data.Fields.TrackedLinkField, Sitecore.Sbos.Module.LinkTracker</patch:attribute>
      </fieldType>
      <fieldType name="link">
        <patch:attribute name="type">Sitecore.Sbos.Module.LinkTracker.Data.Fields.TrackedLinkField, Sitecore.Sbos.Module.LinkTracker</patch:attribute>
      </fieldType>
    </fieldTypes>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Sbos.Module.LinkTracker.Events.Processors.GoalProvider, Sitecore.Sbos.Module.LinkTracker"></processor>
        <processor type="Sitecore.Sbos.Module.LinkTracker.Events.Processors.PageEventProvider, Sitecore.Sbos.Module.LinkTracker"></processor>
      </initialize>
      <renderField>
        <processor type="Sitecore.Sbos.Module.LinkTracker.Pipelines.RenderField.SetGoalAttributeOnLink, Sitecore.Sbos.Module.LinkTracker">
          <XmlAttributeName>goal</XmlAttributeName>
          <AttributeName>goal</AttributeName>
          <BeginningHtml>&lt;a </BeginningHtml>
        </processor>
        <processor type="Sitecore.Sbos.Module.LinkTracker.Pipelines.RenderField.SetPageEventAttributeOnLink, Sitecore.Sbos.Module.LinkTracker">
          <XmlAttributeName>pageevent</XmlAttributeName>
          <AttributeName>pageevent</AttributeName>
          <BeginningHtml>&lt;a </BeginningHtml>
        </processor>
      </renderField>
      <mvc.renderRendering>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" 
                   type="Sitecore.Sbos.Module.LinkTracker.Pipelines.RenderLayout.InsertHeadControls, Sitecore.Sbos.Module.LinkTracker"></processor>
      </mvc.renderRendering>
    </pipelines>
    <customHandlers>
      <handler trigger="/-/trackedlinkhandler/" handler="/Events/Handler/TrackedLinkHandler.ashx" />
    </customHandlers>
  </sitecore>
</configuration>
