<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldTypes>
      <fieldType name="General Link">
        <patch:attribute name="type">Sitecore.Sbos.Module.LinkTracker.Data.Fields.GoalLinkField, Sitecore.Sbos.Module.LinkTracker</patch:attribute>
      </fieldType>
      <fieldType name="General Link with Search">
        <patch:attribute name="type">Sitecore.Sbos.Module.LinkTracker.Data.Fields.GoalLinkField, Sitecore.Sbos.Module.LinkTracker</patch:attribute>
      </fieldType>
      <fieldType name="link">
        <patch:attribute name="type">Sitecore.Sbos.Module.LinkTracker.Data.Fields.GoalLinkField, Sitecore.Sbos.Module.LinkTracker</patch:attribute>
      </fieldType>
    </fieldTypes>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Sbos.Module.LinkTracker.Goals.GoalProvider, Sitecore.Sbos.Module.LinkTracker"></processor>
      </initialize>
      <renderField>
        <processor type="Sitecore.Sbos.Module.LinkTracker.Pipelines.RenderField.SetGoalAttributeOnLink, Sitecore.Sbos.Module.LinkTracker">
          <GoalXmlAttributeName>goal</GoalXmlAttributeName>
          <GoalAttributeName>goal</GoalAttributeName>
          <BeginningHtml>&lt;a </BeginningHtml>
        </processor>
      </renderField>
      <mvc.renderRendering>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.AddRecordedHtmlToCache, Sitecore.Mvc']" 
                   type="Sitecore.Sbos.Module.LinkTracker.Pipelines.RenderLayout.InsertHeadControls, Sitecore.Sbos.Module.LinkTracker"></processor>
      </mvc.renderRendering>
      <!--<renderLayout>
        <processor type="Sitecore.Sbos.Module.LinkTracker.Pipelines.RenderLayout.InsertHeadControls, Sitecore.Sbos.Module.LinkTracker" />
      </renderLayout>-->
    </pipelines>
    <customHandlers>
      <handler trigger="/-/goallinktrackerhandler/" handler="/Goals/Handler/GoalLinkTrackerHandler.ashx" />
    </customHandlers>
  </sitecore>
</configuration>
